:root {
  --background-color: #fff;
  --btn-color: #0987f2;
  --btn-text-color: #fff;
  --project-card-bg: #ffffff00;
  --text-color: #222;
  --form-text-color: #555;
  --footer-text-color: #888;
  --navbar-bg-color: #222; /* Cor oposta ao fundo claro */
  --navbar-text-color: #fff;
}

[data-theme="dark"] {
  --background-color: #222;
  --btn-color: #fff;
  --btn-text-color: #222;
  --project-card-bg: #fff;
  --text-color: #fff;
  --form-text-color: #fff;
  --footer-text-color: #bbb;
  --navbar-bg-color: #fff; /* Cor oposta ao fundo escuro */
  --navbar-text-color: #222;
}

body {
  background-color: var(--background-color);
  margin: 0; /* Remover margens padrão */
  padding: 0; /* Remover preenchimento padrão */
  width: 100%; /* Garantir que o body ocupa toda a largura */
  overflow-x: hidden; /* Evitar rolagem horizontal, se necessário */
}

#root {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%; /* Garantir que o root ocupa toda a largura disponível */
  margin: 0; /* Remover margens se necessário */
  padding: 0; /* Remover preenchimento se necessário */
}

.navbar {
  background-color: var(--navbar-bg-color); /* Cor de fundo da navbar */
  color: var(--navbar-text-color); /* Cor do texto da navbar */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Garantir que a navbar ocupa 100% da largura do contêiner pai */
  box-sizing: border-box; /* Garantir que padding e borda não afetam a largura total */
  padding: 1rem; /* Ajustar o padding se necessário */
}

h1,
h2,
h3,
p {
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

h2,
h3,
p,
.navbar {
  font-family: "Roboto Mono", monospace;
}

h1,
h2 {
  text-transform: uppercase;
}

h2,
h3 {
  font-size: 20px;
}

h1 {
  font-family: "Rubik", sans-serif;
  font-size: 32px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.sectionTitle {
  margin-bottom: 10px;
}

.hover {
  cursor: pointer;
}

@media (width >= 800px) {
  #root {
    gap: 100px;
  }
  h1 {
    font-size: 40px;
  }
  h2,
  h3 {
    font-size: 24px;
  }
  p {
    font-size: 20px;
  }

  .sectionTitle {
    margin-bottom: 60px;
  }

  @media (width >= 1400px) {
    #root {
      gap: 200px;
    }
    h1 {
      font-size: 48px;
    }

    .sectionTitle {
      margin-bottom: 75px;
    }
  }
}
